@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}