/* FooterBottom.module.css */
.footerBottom {
  padding: 20px 0;
  font-size: 0.9rem;
  border-top: 1px solid #e0e0e0;
  color: #666666;
  text-align: center;
}

.footerBottom .links {
  display: flex;
  justify-content: center;
  gap: 85px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  
}

.footerBottom a {
  color: #666666;
  text-decoration: none;
  margin: 0 5px;
}

.footerBottom a:hover {
  text-decoration: none;
}

.footerBottom p {
  margin: 10px 0;

}


@media (max-width: 768px) {
  .footerBottom .links {
    justify-content: center; 
    gap: 20px; 
  }

  .footerBottom p {
    margin-left: 0;
  }
}
